@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}



nav{
    width: 100%;
    position: sticky;
    margin: 0 auto;
    padding: 15px;
    z-index: 2;
    display: flex;
    align-items: center;
    background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.logo{
    flex-basis: 20%;
    display: flex;
}

.logo text{
    font-family: "Truculenta", sans-serif;
    font-size: 30px;
    color: white;
}

    #b{
        height: 15%;
        width: 15%;
        padding: 0;
        margin-left: 20px;
    }

    .links{
        flex: 1;
        text-align: right;
    }
    
    .links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.links ul li a{
    color: white;
    font-family: "poppins", sans-serif;
    text-decoration: none;
}

.links ul li a .main-cart{
    display: flex;
}

#i-cart{
    height: 8%;
    width: 8%;
    margin-left: 10px;
    margin-bottom: -7px;
}

.info{
    height: 50%;
    width: 100%;
}

.info .bg{
    background: url("/image/momomo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 60%;
    width: 100%;
    opacity: 0.9;
    font-family: "poppins", sans-serif;
display: flex;
justify-content: center;
backface-visibility: visible;
color: white;

}

.info .bg .slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: 3px;
    animation: appearance 2s 0.5s ease-in;
    transition: ease-out;
}

@keyframes appearance {
    0%{
        transform: translateX(-200%);
        opacity: 0.1;
        color: black;
    }
    100%{
transform: translate(0);
    }
}

.serve{
    display: flex;
    align-items: center;
    justify-content: center;
}

.deli, .deals{
    padding: 20px;
    border-radius: 150px;
    background: #e0e0e0;
    box-shadow:  14px 14px 28px #bebebe,
                 -14px -14px 28px #ffffff;

}

.deli, .deals .delisvg, .dealsvg{
height: 5%;
width: 5%;
}
