@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    /* width: 100%;
    height: auto; 
    position: relative; */
    overflow: hidden;
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    z-index: -1;
}



nav {
    width: 100%;
    position: sticky;
    margin: 0 auto;
    padding: 15px;
    z-index: 2;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
    flex-basis: 20%;
    display: flex;
}

.logo text {
    font-family: "Truculenta", sans-serif;
    font-size: 30px;
    color: white;
}

#b {
    height: 15%;
    width: 15%;
    padding: 0;
    margin-left: 20px;
}

.links {
    flex: 1;
    text-align: right;
}

.links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.links ul li a {
    color: white;
    font-family: "poppins", sans-serif;
    text-decoration: none;
}

.links ul li a .main-cart {
    display: flex;
}

#i-cart {
    height: 8%;
    width: 8%;
    margin-left: 10px;
    margin-bottom: -7px;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 578px;
    justify-content: center;
    align-items: center;
}

#home:before {
    content: "";
    background: url('/image/momomo.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 657px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: "Bree Serif", serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: "Bree Serif", serif;
}

.btn {
    padding: 5px 20px;
    color: white;
    border: 2px solid white;
    background-color: #465d6d;
    margin: 14px 14px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
}

.info .bg .slogan h1,
p,
button {
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: 3px;
    animation: appearance 2s 0.5s ease-in;
    transition: ease-out;
}

@keyframes appearance {
    0% {
        transform: translateX(-200%);
        opacity: 0.1;
        color: black;
    }

    100% {
        transform: translate(0);
    }
}
